html, body {
  font-family: "Open Sans",Helvetica,sans-serif;
  font-size: 16px;
  max-width:800px;
  margin: 20px 20px;
  color: #474a54;
}

h1 {
  font-size: 150%;
  font-weight: 100;
  color: #444;
  line-height: 24px;
  margin-top: 40px;
}
h2 {
  font-size: 125%;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 7px;
}

hr {
  margin-bottom: 18px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

p {
    line-height: 20px;
    margin-bottom: 15px;
}


ul, li {
    line-height: 24px;
    list-style: disc;
    font-weight: 400;
}

a {
    color: #3367d6;
    text-decoration: none;
}

table tr, td, th, tbody{
  padding: 6px 10px;
  border: 1px solid #DDDDDD;
}

.required:after{
  content:'\002A';
  color: red;
}

table {
  border-collapse: collapse;
  border-spacing: 1px;
  width:100%;
}

table th{
  background-color: #6199DF;
  color: white !important;
  border-color: #6199DF;
}


code {
  white-space: pre;
  padding: 0px 3px 0px 3px;
  color: #007000;
  font-size: 90%;
  border: 1px solid;
  border-color: #E8E8E8;
  border-radius: 3px;
  background-color: #F7F4F4;
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
}

code .status{
  text-transform: uppercase;
}

.e-type {
  color: #fff;
  font-size: 70%;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  border-color: transparent;
}

.t-GET{
  background-color: #10a54a;
}

.t-POST{
  background-color: #0f6ab4;
}

.t-PUT{
  background-color: #c5862b;
}

.t-DELETE{
  background-color: #a41e22;
}

table code {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}
